
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/MainMenu.css" type="text/css" rel="stylesheet"/>
<h2 style="color: white">Index</h2>
<div class="container">
    <div class="form-group">
        <ul id="navModule" class="nav nav-stacked nav-pills">
            <li class="active"><a href="/Maintain/EditInfo">维修登记</a></li>
            <li><a href="#">维修查询</a></li>
            <li><a href="#">基本信息维护</a></li>            
        </ul>
    </div>
</div>
<script src="~/Scripts/MainMenu/MainMenu.js"></script>

