<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--日志配置部分-->
  <configSections>
    <!--注册lognet-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="loginfo" additivity="false">
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="logerror" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
	<logger name="CustomLog" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="CustomFileAppender"/>
	</logger>
    <appender name="CustomFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />-->
	  <file value="LOG\\TEST\\test.log"/>
      <appendToFile value="true"/>
      <!--是否追加到文件-->
      <maximumFileSize value="30MB" />
      <!--最大文件大小-->
      <param name="MaxSizeRollBackups" value="1000" />
      <!-- 备份文件的个数-->      
      <StaticLogFileName value="true"/>
      <!--日志文件名是否为静态-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n＝＝＝＝＝＝＝＝＝＝
			%n【日志级别】%-5level
			%n【记录时间】%date
			%n【线程编号】[%thread]
			%n【类名】%logger 属性[%property{NDC}]
			%n【描述】%message%newline"/>
      </layout>
    </appender>		
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />-->
      <file value="LOG\\SYSLOG\\"/>
      <!--日志文件夹及文件名开头-->
      <appendToFile value="true"/>
      <!--是否追加到文件-->
      <RollingStyle value="Composite"/>
      <!--日期的格式-->
      <DatePattern value="yyyy-MM-dd&quot;.txt&quot;"/>
      <!--文件名后面加上.log后缀，必须使用转义字符-->
      <maximumFileSize value="30MB" />
      <!--最大文件大小-->
      <param name="MaxSizeRollBackups" value="1000" />
      <!-- 备份文件的个数-->      
      <StaticLogFileName value="false"/>
      <!--日志文件名是否为静态-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%n＝＝＝＝＝＝＝＝＝＝
			%n【日志级别】%-5level
			%n【记录时间】%date
			%n【线程编号】[%thread]
			%n【文件】%F
			%n【行号】%L
			%n【类名】%logger 属性[%property{NDC}]
			%n【描述】%message%newline"/>
      </layout>
    </appender>

  </log4net>
  <!--End站点日志配置部分-->
</configuration>